*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.test{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid gray;
    width: 80%;
    text-align: center;
    height: 50px;
}
header div a{
    text-decoration: none;
    padding: 30px;
    color: black;
    font-weight: 500;
    font-size: 20px;
}
h3{
    color: #6C7CE4;
    font-weight: bold;
    font-size: 35px;
}
button{
    background-color: #0D6EFD;
    border-radius: 5px;
    border: none;
    color: white;
    width: 100px;
    height: 25px;
}