*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 97px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}

header h3{
    color: #6366f1;
}

header nav{
    margin-right: 15px;
}

header a{
    position: relative;
    text-decoration: none;
    margin-left: 15px;
    color: #000000;
    font-weight: 700;
    font-size: 17.4px;
}

header .btn-blue{
    background-color: #0d6efd;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}
